.images{
    text-align: center;
}

.image-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.kshama{
    rotate: -90deg;
    object-fit: contain;
}


.heading-padding{
    margin-top: 4rem;
}

.logo-fix{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-fix img{
    width: 50%;
}