.box-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Change flex-wrap to wrap */
  gap: 50px;
}



.box {
  background: white;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 64px 1fr;
  position: relative;
  color: black;
}

.box-icon {
  display: grid;
  place-items: center;
}

.box-label {
  height: 64px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  font-size: 14px;
  letter-spacing: 0.125em;
}
.box-title {
  white-space: nowrap;
  display: flex;
  align-items: center;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 24px;
  padding-top: 16px;
}
.box-image {
  width: 400px;
  height: 400px;
  border-radius: 18px 0 18px 0;
  overflow: hidden;
}
.box-image img {
  width: 100%;
  display: block;

}
.studio-button {
  position: absolute;
  bottom: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  background: #68009d;
  color: white;
  padding: 8px 10px;
  border-radius: 50px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
  transition: 0.35s ease all;
  overflow: hidden;
  max-width: 22px;
 /* icon size */
}
.studio-button-icon {
  position: relative;
  top: 1px;
}
.studio-button-label {
  text-transform: uppercase;
  white-space: nowrap;
  padding: 0 8px;
  opacity: 0;
  transform: translateX(10px);
  transition: 0.25s ease all;
}
.box:hover .studio-button {
  max-width: 100%;
}
.box:hover .studio-button-label {
  opacity: 1;
  transform: translateX(0);
  transition: 0.25s 0.1s ease-in opacity, 0.15s 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275) transform;
}

@media screen and (max-width: 1024px) {
  .box {
    width: calc(50% - 25px); /* Adjust as needed, considering the gap */
    margin-right: 50px; /* Add gap between boxes */
  }

  /* Reset the right margin for every third box to create two boxes per row */
  .box:nth-child(3n) {
    margin-right: 0;
  }

  .box-image img {
    width: 8cqmax;
    display: block;
  
  }
}

/* Media query for mobile screens */
@media screen and (max-width: 767px) {
  .box-wrapper {
    flex-direction: column;
  }
  .box-image img {
    width: 50%;
    display: block;
  
  }

  /* Reset the width and margin for one box per row */
  .box {
    width: 85%;
    margin-right: 0;
    margin-bottom: 20px; /* Add vertical spacing between boxes */
  }
}