@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
    display: none;
}

.team-member-card {
  @apply relative rounded overflow-hidden cursor-pointer aspect-square;
}

.team-member-card img {
  @apply w-full h-full object-cover transition-all duration-300 ease-in-out;
  filter: grayscale(100%); /* Start in black and white */
}

.team-member-card:hover img {
  filter: grayscale(0%); /* Color on hover */
  transform: scale(1.05); /* Slight zoom on hover */
}

.member-name-overlay {
  @apply absolute bottom-0 left-0 right-0 p-3 text-center bg-gradient-to-t from-black/80 to-transparent;
  @apply text-white font-bold transition-opacity duration-300;
}